html {
    font-size: 62.5%;
}
/*Revisar para apoyo
https://github.com/hec-lopz/wikiClone
https://byron7cueva.github.io/arquitecto-frontend/htmlCssPractico/wikipedia/
https://alxbaylon.github.io/clon-Wikipedia/*/
body{
    margin:0;
    padding: 0;
    --font-familiy-content: -apple-system, sans-serif;
    font-size: 1.4rem;
    background-color: #fff;
}

header{
    height: 9.0rem;
    width: 100%;
    margin: 4.0rem auto 0.5rem;
}

header .header-title {
    height: inherit;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-self:baseline;
    font-family: 'Linux Libertine', serif;
}
header h1 {
    margin: 0;
    font-size: 2.6rem;
    font-weight: normal;
    text-transform: uppercase;
}

header h1 span {
    font-size: 3.5rem;
}

header h2 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 400;
}
