html {
    font-size: 62.5%;
}
/*Revisar para apoyo
https://github.com/hec-lopz/wikiClone
https://byron7cueva.github.io/arquitecto-frontend/htmlCssPractico/wikipedia/
https://alxbaylon.github.io/clon-Wikipedia/
*/
body{
    margin:0;
    padding: 0;
    font-family: -apple-system, sans-serif;
    font-size: 1.4rem;
    background-color: #fff;
}

header .header-title{
    height: 7rem;
    width: 100%;
    padding: 3.8rem 0 2rem 0;
    font-family: 'Linux Libertine', serif;
    text-align: center;
    align-self:center;
}

header h1 {
    margin: 0;
    font-size: 2.8rem;
    font-weight: normal;
    text-transform: uppercase;
}

header h1 span {
    font-size: 3.7rem;
}

header h2 {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 1.6rem;
    font-weight: 400;
}
