body{
    margin:0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    cursor: pointer;
}

header{
    width: 100%;
    height:60px;
}

header nav{
    display: flex;
    justify-content: flex-end;
}

header nav .nav-right-section{
    width: 260px; /*el ancho de la caja nav-right-section sera de 250px*/
    height: auto; /*Tomar la misma altura que el padre header*/
    display: flex;
    list-style: none; /*quitar las decoraciones de la lista*/
    justify-content: center;
    align-items: center;
}

nav .nav-right-section a{
    margin-left: 10px;
    margin-right: 10px;
    color: #000000;
}

nav .nav-right-section a:hover{
    text-decoration: underline;
}

.nav-right-section .menu-icon{
    background-image: url('https://static.thenounproject.com/png/756729-200.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

.nav-right-section .perfil img{
    border-radius: 50%;
}

.nav-right-section:hover .menu-icon:hover{
    border-radius: 50%;
    background-color: rgb(245, 245, 239);
}


/*Estilos de la seccion principal*/
main{
    margin-top: 150px;
    text-align: center;
}

main .main-logo{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-input{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-input-container{
    width: 525px;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .main-input-container input{
    width: 450px;
    height: 40px;
    border: none;
    outline: none;
}

main .main-input-container:hover {
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0 1px 4px 0.5pt #D3D3D3;
}